<template>
    <style>
        :host {
            box-sizing: border-box;
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            list-style: none none;
            justify-content: flex-end;
            box-sizing: border-box;
        }

        li {
            box-sizing: border-box;
            margin-right: 32px;
            text-transform: uppercase;
        }
        li:last-of-type {
            margin-right: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
        a:hover, a.active {
            border-bottom: 2px solid;
        }

    </style>

</template>

<script>
    // import smoothScroll from 'smooth-scroll';
    class DsMenu extends HTMLElement {

        createdCallback() {
            this.menuItems = [
                {
                    text: 'About',
                    anchor: '#about'
                },
                {
                    text: 'Work',
                    anchor: '#work'
                },
                {
                    text: 'Contact',
                    anchor: '#contact'
                }
            ];

            var shadowRoot = this.createShadowRoot();
            var template = currentWebcomponent.querySelector('template');
            var clone = document.importNode(template.content, true);

            shadowRoot.appendChild(clone);
            this._createMenu(shadowRoot);
        }

        _createMenu (parent) {
            let ul = document.createElement('ul');
            this.menuItems.forEach((item) => {
                let li = document.createElement('li');
                let a = document.createElement('a');
                let menuText = document.createTextNode(item.text);
                a.appendChild(menuText);
                a.setAttribute('href', item.anchor);
                a.onclick = function () {
                    smoothScroll.animateScroll(
                        item.anchor, // Node to scroll to. ex. document.querySelector( '#bazinga' )
                        null, // Node that toggles the animation, OR an integer. ex. document.querySelector( '#toggle' )
                        null // Classes and callbacks. Same options as those passed into the init() function.
                    );
                }
                li.appendChild(a);
                ul.appendChild(li);
            });
            let nav = document.createElement('nav');
            nav.appendChild(ul);
            parent.appendChild(nav);
        }

    }
    document.registerElement('ds-menu', DsMenu);
</script>
