<template id="ds-menu-template">
    <style>
        :host {
            box-sizing: border-box;
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            list-style: none none;
            justify-content: flex-end;
            box-sizing: border-box;
        }

        li {
            box-sizing: border-box;
            margin-right: 32px;
            text-transform: uppercase;
        }
        li:last-of-type {
            margin-right: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
        a:hover, a.active {
            border-bottom: 2px solid;
        }

    </style>

    <nav>
        <ul id="menu">
            <li><a onclick="" href="#about">About</a></li>
            <li><a href="#work">Work</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</template>

<script>
    class DsMenu extends HTMLElement {

        constructor () {
            super();
            this.menuItems = [
                {
                    text: 'About',
                    anchor: '#about'
                },
                {
                    text: 'Work',
                    anchor: '#work'
                },
                {
                    text: 'Contact',
                    anchor: '#contact'
                }
            ];

            // Attach shadow dom
            let shadowRoot = this.attachShadow({mode: 'open'});
            // TODO - document.currentScript.ownerDocument is not available with webcomponents-loader.
            //        currentWebcomponent is the workaround provided by the loader
            const template = currentWebcomponent.querySelector('#ds-menu-template');
            // const template = document.currentScript.ownerDocument.querySelector('#ds-header-template');
            const instance = template.content.cloneNode(true);
            shadowRoot.appendChild(instance);
        }

        createdCallback() {
            this._createMenuItems(clone);
        }

        _createMenuItems (parent) {
            console.debug('menu items', this.menuItems);
            // this.menuItems.forEach((item) => {
            //     var li = document.createElement('li');
            //     var a = document.createElement('a');
            //     a.innerHTML(item.text);
            //     a.setAttribute('href', item.anchor);
            //     a.onclick = function () {
            //         smoothScroll.animateScroll(
            //             item.anchor, // Node to scroll to. ex. document.querySelector( '#bazinga' )
            //             null, // Node that toggles the animation, OR an integer. ex. document.querySelector( '#toggle' )
            //             null // Classes and callbacks. Same options as those passed into the init() function.
            //         );
            //     }
            //     li.appendChild(a);
            //     parent.appendChild(li);
            // })
        }

    }
    customElements.define('ds-menu', DsMenu);
</script>
