<template>
    <style>
        :host {
            box-sizing: border-box;
        }
        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            list-style: none none;
            justify-content: flex-end;
            box-sizing: border-box;
        }

        li {
            box-sizing: border-box;
            margin-right: 32px;
            text-transform: uppercase;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
        a:hover, a.active {
            border-bottom: 2px solid;
        }

    </style>

    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#work">Work</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</template>

<script>
    class DsMenu extends HTMLElement {

        constructor () {
            super();
            console.debug('DsMenu constructor');
        }

        createdCallback() {
            var root = this.createShadowRoot();
            var template = currentWebcomponent.querySelector('template');
            var clone = document.importNode(template.content, true);
            root.appendChild(clone);
        }

    }
    document.registerElement('ds-menu', DsMenu);
</script>
