body {
    background-color: $color1;
    color: $color2;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}
