<template>
    <style>
        :host {
            box-sizing: border-box;
            color: inherit;
        }
    </style>

    <p>
        my component
    </p>
</template>

<script>
    class DsAbout extends HTMLElement {

        constructor () {
            super();
            console.debug('DsAbout constructor');
        }

        createdCallback() {
            var root = this.createShadowRoot();
            var template = currentWebcomponent.querySelector('template');
            var clone = document.importNode(template.content, true);
            root.appendChild(clone);
        }

    }
    document.registerElement('ds-about', DsAbout);
</script>
