<template id="ds-contact-template">
    <style>
        :host {
            box-sizing: border-box;
            color: inherit;
        }
    </style>

    <h2>Contact</h2>
    
</template>

<script>
    class DsContact extends HTMLElement {

        constructor () {
            super();
            console.debug('DsContact constructor');

            // Attach shadow dom
            let shadowRoot = this.attachShadow({mode: 'open'});
            // TODO - document.currentScript.ownerDocument is not available with webcomponents-loader.
            //        currentWebcomponent is the workaround provided by the loader
            const template = currentWebcomponent.querySelector('#ds-contact-template');
            // const template = document.currentScript.ownerDocument.querySelector('#ds-header-template');
            const instance = template.content.cloneNode(true);
            shadowRoot.appendChild(instance);
        }

    }
    customElements.define('ds-contact', DsContact);
</script>
