<template id="ds-work-template">
    <style>
        :host {
            box-sizing: border-box;
            color: inherit;
        }
    </style>

    <p>
        ds-work
    </p>
</template>

<script>
    class DsWork extends HTMLElement {

        constructor () {
            super();
            console.debug('DsWork constructor');

            // Attach shadow dom
            let shadowRoot = this.attachShadow({mode: 'open'});
            // TODO - document.currentScript.ownerDocument is not available with webcomponents-loader.
            //        currentWebcomponent is the workaround provided by the loader
            const template = currentWebcomponent.querySelector('#ds-work-template');
            // const template = document.currentScript.ownerDocument.querySelector('#ds-header-template');
            const instance = template.content.cloneNode(true);
            shadowRoot.appendChild(instance);
        }


    }
    customElements.define('ds-work', DsWork);
</script>
