<template id="ds-work-template">
    <style>
        :host {
            box-sizing: border-box;
            color: inherit;
        }
    </style>

    <h2>Work</h2>
    <h3>WordPress</h3>
    <p>
        Familiar and approachable content management combined with an active developer community mean WordPress is often the right choice for your next web project.
    </p>
    <p>
        WordPress continues to dominate the web and I have experience delivering a wide range of sites built on it. Most recently I have worked with the designers at WaldenHyde to deliver a revamped <a href="http://waldenhyde.com" target="_blank">waldenhyde.com</a> and helped the off-site meeting experience startup <a href="offsiteatx.com">Work Shift</a> get their site up in a weekend.
    </p>

    <h3>Content and Service Management Applications</h3>
    <p>
        Angular is a popular framework for building large scale web applications because it is fully featured, reasonably approachable, and can be made to perform well with the right considerations. Those were the main reasons I started using Angular in late 2014. Since then I have lead the development effort on a number of medium to large Angular applications including a <a href="https://create.invodo.com/#/login" target="_blank">video content management system</a> and <a href="https://pros.lawnstarter.com" target="_blank">provider</a> and <a href="https://my.lawnstarter.com" target="_blank">consumer</a> service management applications.
    </p>
</template>

<script>
    class DsWork extends HTMLElement {

        constructor () {
            super();
            console.debug('DsWork constructor');

            // Attach shadow dom
            let shadowRoot = this.attachShadow({mode: 'open'});
            // TODO - document.currentScript.ownerDocument is not available with webcomponents-loader.
            //        currentWebcomponent is the workaround provided by the loader
            const template = currentWebcomponent.querySelector('#ds-work-template');
            // const template = document.currentScript.ownerDocument.querySelector('#ds-header-template');
            const instance = template.content.cloneNode(true);
            shadowRoot.appendChild(instance);
        }


    }
    customElements.define('ds-work', DsWork);
</script>
